html {
  font-family: Helvetica;
  text-align: center;
}

#header {
  background-image: url(file:///C:/cygwin64/home/Aya/jawadsaad.github.io/Broadway/resources/the-flatiron-building.png);
}

#header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#header a {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.main p {
  font-size: 14px;
}

.main h1 {
  font-size: 32px;
  font-weight: bold;
}

.main h2 {
  font-size: 23px;
  font-weight: bold;
}

.newyork {
  background-image: url(file:///C:/cygwin64/home/Aya/jawadsaad.github.io/Broadway/resources/the-flatiron-building.png);
}

.newyork h2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}

.footer a {
  color: white;
  font-weight: bold;
}
